In [1]:
import numpy as np
import pandas as pd

In [2]:
# Displaying first 5 records
df = pd.read_csv("E-Commerce.csv")
print(df.head())

   Order_ID Product_Name     Category  Price  Quantity Customer_ID  Order_Date
0         1       Laptop  Electronics   1200         2        C101  01-01-2024
1         2   Headphones  Electronics     80         3        C102  02-01-2024
2         3        Chair    Furniture    150         1        C103  03-01-2024
3         4   Smartphone  Electronics    600         1        C104  04-01-2024
4         5         Desk    Furniture    200         2        C105  05-01-2024

In [6]:
df.info() # Showing basic information about the dataset, including data types and non-null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order_ID      30 non-null     int64
 1   Product_Name  30 non-null     object
 2   Category      30 non-null     object
 3   Price         30 non-null     int64
 4   Quantity      30 non-null     int64
 5   Customer_ID   30 non-null     object
 6   Order_Date    30 non-null     object
dtypes: int64(3), object(4)
memory usage: 1.8+ KB

In [8]:
df.columns # List column names in the dataset

Index(['Order_ID', 'Product_Name', 'Category', 'Price', 'Quantity',
       'Customer_ID', 'Order_Date'],
      dtype='object')

### Null Values
- Finding Null values is important to building machine learning model
- Model treats null as a value, we need to take care of it
- Either remove it, or Replace it with mean or median value.

In [12]:
df.isnull().sum()

Order_ID        0
Product_Name    0
Category        0
Price           0
Quantity        0
Customer_ID     0
Order_Date      0
dtype: int64

In [14]:
# Display Unique values in Category column
print(df["Category"].unique())

['Electronics' 'Furniture' 'Apparel' 'Books' 'Accessories' 'Beauty']

In [16]:
print(df['Quantity'].sum()) # Display total number of products sold

61

In [26]:
# Calculate avg price of products in each category
c=df.groupby("Category")["Price"].mean().round(2)
# Avg price of accesories
print(c["Accessories"]) # It is a series and so each value acts like the key

82.5

In [31]:
# How to convert the series into a dataframe
cf=c.to_frame()
print(type(cf))
# Can also do it with reset_index
cf=c.reset_index()
cf.columns=['Category',"Average_Price"] # This allows us to change column names by using reset_index
print(cf)

<class 'pandas.core.frame.DataFrame'>
      Category  Average_Price
0  Accessories          82.50
1      Apparel          37.50
2       Beauty          27.50
3        Books          17.50
4  Electronics         420.00
5    Furniture         196.67

In [39]:
# Display the details of the most expensive product
print(df[df["Price"]==df["Price"].max()])

print()
# One more way to do is
print(df.loc[df['Price'].idxmax()])

   Order_ID Product_Name     Category  Price  Quantity Customer_ID  Order_Date
0         1       Laptop  Electronics   1200         2        C101  01-01-2024

Order_ID                  1
Product_Name         Laptop
Category        Electronics
Price                  1200
Quantity                  2
Customer_ID            C101
Order_Date       01-01-2024
Name: 0, dtype: object

In [49]:
# Find the customer who has made the highest total purchase
df["Total"] = df["Price"] * df["Quantity"]
print(df.groupby("Customer_ID")["Total"].sum().idxmax())

C101

In [48]:
# Find the revenue of the company
print(df["Total"].sum())

8615

In [51]:
# Show the products ordered on a specific date for. eg "2024-01-05"
df[df["Order_Date"]=="05-01-2024"]

,Order_ID,Product_Name,Category,Price,Quantity,Customer_ID,Order_Date,Total
4,5,Desk,Furniture,200,2,C105,05-01-2024,400

In [54]:
# Find top 3 customers with the highest purchase order
print(df.groupby("Customer_ID")["Total"].sum().sort_values(ascending=False)[:3])

# Can also do
df.groupby("Customer_ID")["Total"].sum().nlargest(3)

Customer_ID
C101    2710
C113    1690
C104     600
Name: Total, dtype: int64

Customer_ID
C101    2710
C113    1690
C104     600
Name: Total, dtype: int64